# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# ML artifacts
*.pkl
*.joblib
*.h5
*.onnx
mlruns/

# Data
data/*.db
data/*.sqlite
*.csv
*.parquet
mlflow.db

# Logs
logs/
*.log

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# MLflow
mlflow/

# Temporary files
*.tmp
.cache/

# HTML coverage reports
.coverage

# Docs
docs/*

# Jupyter notebooks
.ipynb_checkpoints/

# pytest
.pytest_cache/

# Plots / Output
outputs/
*.png
*.jpg
*.jpeg
*.svg